body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../img/6.jpg')no-repeat;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.normal-text {
    font-weight: normal;
}

form {
    background-color: #ffffff38;
    max-width: 400px;
    max-height: max-content;
    margin: 35px auto;
    padding: 40px 40px;
    background-size: cover;
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
    width: 350px;
}

label {
    display: block;
    text-align: left;
    max-width: 400px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: left;
}

    .form-control input[type="radio"],
    .form-control input[type="checkbox"] {
        display: inline-block;
        width: auto;
    }

button {
    background-color: #00cb18;
    border: 1px solid #00cb18;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

h1 {
    font-size: medium;
    text-align: center;
}

h2 {
    font-size: small;
    font-weight: 300px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 50px;
}
