@page
@model Project221.Pages.LoginModel
@{
Layout = null;
}

<html>
<head>
    <title>Sign In Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="~/l/bootstrap/css/bootstrap.min.css" rel="stylesheet" />  
    <link href="~/l/css/main.css" rel="stylesheet" />

</head>
<body>

    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

            <div class="header">
                
            </div>
        <form method="post">
            <div class="card" style="margin-top: 5%; margin-left:auto; margin-right:auto; width:450px; height: 350px;">
                <div class="card-body">
                    <p style="font-size: 25px; font-weight: bold;">SIGN IN</p>
        
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Your username">
                    </div>
        
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
                    </div>
        
                    <div class="mb-3 form-check">
                        
                    </div>
                    <button type="submit" class="btn btn-primary">SIGN IN</button>
                </div>
              </div>
              </form>
        </ul>
     </div>

</body>
</html>


